<img src="https://i.postimg.cc/2SKnKPy5/Cloud.png" class="img-fluid" id="class1" alt="...">
<p class="p1"><b>Cloud Services</b></p>
<img src="https://i.postimg.cc/MT5Kp3HQ/cyber.png" class="img-fluid" id="class2" alt="...">
<p class="p2"><b>Cyber Security</b></p>
<img src="https://i.postimg.cc/0jV8vVZy/gis.png" class="img-fluid" id="class1" alt="...">
<p class="p1"><b>GIS</b></p>
<img src="https://i.postimg.cc/cC0Q2L5N/data.png" class="img-fluid" id="class2" alt="...">
<p class="p2"><b>Data Engineering</b></p>
<img src="https://i.postimg.cc/hv27Ybd9/devops.png" class="img-fluid" id="class1" alt="...">
<p class="p1"><b>DevOps</b></p>