<nav class="navbar navbar-expand-lg sticky-top" style="height: 120px; background-color: #111111;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink=""><img src="https://i.postimg.cc/3RbyVVpJ/DIgital.png" width="25%" style="margin-left: 50px;"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/aboutus" style="padding-top: 35px; padding-left: 200px; font-size: large; color: #c4c4c4;">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/department" style="padding-top: 35px; padding-left: 50px; font-size: large; color: #c4c4c4;">Department</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/services" style="padding-top: 35px; padding-left: 50px; font-size: large; color: #c4c4c4;">Services</a>
          </li>
        </ul>
        <form class="d-flex" role="search" style="color: #c4c4c4;">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="background-color: #737373;">
        </form>
        <a routerLink="" class="btn btn-outline-primary" tabindex="-1" role="button" style="margin-right: 100px;">Search</a>
      </div>
    </div>
  </nav>