<app-carousel></app-carousel>
<p style="padding-top: 100px; text-align: center; color: #b8b8b8;"><b>GLOBAL FOOTPRINTS</b></p>
<table class="table table-borderless" style="padding-top: 25px; padding-bottom: 50px; text-align: center;">
  <tbody>
    <tr>
      <th  style="color: #969696; width: 15%; background-color: #1a1a1a;">USA</th>
      <th  style="color: #969696; width: 15%; background-color: #1a1a1a;">INDIA</th>
      <th style="color: #969696; width: 15%; background-color: #1a1a1a;">UAE</th>
      <th style="color: #969696; width: 15%; background-color: #1a1a1a;">JAPAN</th>
      <th style="color: #969696; width: 15%; background-color: #1a1a1a;">LONDON</th>
    </tr>
  </tbody>
</table>
<div style="padding-top: 10px; padding-bottom: 50px;">
    <img src="https://i.postimg.cc/50h4pspH/map3.png" style="padding-top: 50px; padding-left: 200px;">
    <p class="para" style="padding-left: 200px; padding-top: 25px; padding-bottom: 50px; color: #b8b8b8;">Use link<a href="https://maps.app.goo.gl/PBcs7t5ZTHyQeK988" class="btn btn-link" tabindex="-1" role="button">NeST Digital Park</a></p>
</div>