<img src="https://i.postimg.cc/3xqrcfb8/Rectangle-59.png" class="img-fluid" alt="..." style="float: right;">
<p class="start" style="color: snow; padding-left: 50px; padding-right: 50px; padding-top: 200px; padding-bottom: 202px; background-color: #242424; font-size: large;"><b>We combine our deep domain expertise, reusable digital platforms, & complimentary services to deliver world class solutions that brings outstanding success for our customers</b></p>
<p style="padding-top: 100px; text-align: center; color: #dcdcdc;"><b>INDUSTRIES</b></p>
      <table class="table table-borderless" style="padding-top: 25px; padding-bottom: 50px; text-align: center;">
        <tbody>
          <tr>
            <th  style="color: #a0a0a0; width: 10%; background-color: #1a1a1a;">INSURANCE</th>
            <th  style="color: #a0a0a0; width: 10%; background-color: #1a1a1a;">MOBILITY</th>
            <th style="color: #a0a0a0; width: 10%; background-color: #1a1a1a;">LOCOMOTIVE</th>
            <th style="color: #a0a0a0; width: 10%; background-color: #1a1a1a;">INDUSTRIAL</th>
            <th style="color: #a0a0a0; width: 10%; background-color: #1a1a1a;">AEROSPACE & DEFENCE</th>
            <th style="color: #a0a0a0; width: 10%; background-color: #1a1a1a;">BANKING & FINANCIAL SERVICES</th>
            <th style="color: #a0a0a0; width: 10%; background-color: #1a1a1a;">HEALTHCARE</th>
          </tr>
        </tbody>
      </table>
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" style="margin-bottom: 100px; margin-top: 50px;">
        <div class="carousel-inner">
          <div class="carousel-item" style="width: 85%;">
            <div class="card-container" style="padding: 0; margin-left: 88px; margin-right: 15px;">
                <div class="card">
                    <img src="https://i.postimg.cc/rsCWM2t2/LK.jpg" alt="...">
                    <div class="overlay">
                        <h5 class="text">Lakehouse — New kid in data town</h5>
                    </div>
                </div> 
                <div class="card">
                    <img src="https://i.postimg.cc/WbxjTqTj/Lid.jpg" alt="...">
                    <div class="overlay">
                        <h5 class="text">LiDAR data for Feature Extraction</h5>
                    </div>
                </div>
                <div class="card">
                    <img src="https://i.postimg.cc/2jT1xGm6/Car.jpg" alt="...">
                    <div class="overlay">
                        <h5 class="text">The d/dt of EV Charging</h5>
                    </div>
                </div>
                <div class="card">
                    <img src="https://i.postimg.cc/RVkGM4Y2/KS.png" alt="...">
                    <div class="overlay">
                        <h5 class="text">Knative-ly Serverless</h5>
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item active" style="width: 85%;">
            <div class="card-container" style="margin-left: 88px; margin-right: 25px;">
                <div class="card">
                    <img src="https://i.postimg.cc/B67kpRvs/RR.jpg" alt="...">
                    <div class="overlay">
                        <h5 class="text">The Reactive Revolution</h5>
                    </div>
                </div>
                <div class="card">
                    <img src="https://i.postimg.cc/7Ykyf8jJ/DLK.jpg" alt="...">
                    <div class="overlay">
                        <h5 class="text">Data Lakehouse-5 Whys</h5>
                    </div>
                </div>
                <div class="card">
                    <img src="https://i.postimg.cc/02YZ2LqQ/KS2.jpg" alt="...">
                    <div class="overlay">
                        <h5 class="text">Knative-ly Serverless:Unlock the Power of Serverless</h5>
                    </div>
                </div>
                <div class="card">
                    <img src="https://i.postimg.cc/Sxq4nF2t/RR2.png" alt="...">
                    <div class="overlay">
                        <h5 class="text">The Reactive Revolution: Leveraging Microservices</h5>
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item" style="width: 85%;">
                <div class="card-container" style="margin-left: 88px; margin-right: 25px;">
        <div class="card">
            <img src="https://i.postimg.cc/2jJVJ6bR/DLK2.png" alt="Sample Image">
            <div class="overlay">
                <div class="text">Data Lakehouse: 5 Whys</div>
            </div>
        </div>
        <div class="card">
            <img src="https://i.postimg.cc/GhdgYcKY/RAI.png" alt="...">
            <div class="overlay">
                <div class="text">Revolutionizing EMR with AI-Powered Voice Integration</div>
            </div>
        </div>
        <div class="card">
            <img src="https://i.postimg.cc/nhs495yB/UP.png" alt="...">
            <div class="overlay">
                <div class="text">Utility Pole Capture from LiDAR Point Cloud</div>
            </div>
        </div>
        <div class="card">
            <img src="https://i.postimg.cc/25vsz0T7/IOT.jpg" alt="...">
            <div class="overlay">
                <div class="text">NeST Digital’s IoT Solution Enables Cost-Effective Power Generation and Distribution Monitoring</div>
            </div>
        </div>
    </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev" aria-hidden="true"><img src="https://i.postimg.cc/rwKDBc0h/Left-Arrow.png" alt="Prev" width="40" style="margin-left: 1425px; margin-top: 500px;"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next" aria-hidden="true"><img src="https://i.postimg.cc/RCYV3D39/Right-Arrow.png" alt="Next" width="40" style="margin-right: 1425px; margin-top: 500px;"></span>
            <span class="visually-hidden">Next</span>
          </button>
      </div>